<div class="jumbotron">
	<div class="container">
		<h2 class='anabelle-message'>Hello ! Please, tell me your name.</h2>
		<h2 class='anabelle-secondary-message'></h2>
		<section id="hwrapper">
		  <div id="cube-wrapper">
		    <div id="cube">
				<span class="cube-face" id="one"></span>
				<span class="cube-face" id="two"></span>
				<span class="cube-face" id="three"></span>
				<span class="cube-face" id="four"></span>
				<span class="cube-face" id="five"></span>
				<span class="cube-face" id="six"></span>
		    </div>
		  </div>

		  <form>
		  	<input type='text' class='anabelle-input'>
		  </form>

		</section>
	</div>
</div>